# Compiled Code #
################
*.com
*.dll
*.class
*.exe
*.o
*.so
*.mex

# Archives #
###########
*.7z
*.dmg
*.zip
*.iso
*.jar
*.rar
*.tar
*.zip
*.gz

# Logs and Database#
#######
*.log
*.sql
*.sqlite

# OS Files #
############
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ethumbs.db
Thumbs.db
desktop.ini

# Autosave files #
##################
*.asv

# Result files and images#
#####################
*.mat
*.pgm
*.bmp
*.png

# IDE files #
##################
*.sublime-settings
*.sublime-workspace

# Documentation Files #
####################
*.pdf
